# Node.js
node_modules/
.cache/
npm-debug.log
yarn-debug.log
yarn-error.log

# ビルド出力
dist/
build/
out/

# 環境変数
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# エディタ設定
.vscode/
.idea/
*.swp
*.swo

# OS固有のファイル
.DS_Store
Thumbs.db

# ログファイル
*.log

# 一時ファイル
tmp/
temp/ 
__pycache__/
*.pyc

# Python仮想環境
venv/
.venv/

# バックアップファイル
*.bak
*.backup
*.old
*.orig

# yoloの作業ディレクトリ
runs/*

# フレーム抽出
backend/data/datasets/frames/
*.npy

# 学習データ
backend/data/datasets/*

# YOLOv8
backend/trained_models/zombie_detector_v1/*
!backend\trained_models\zombie_detector_v1\weights\best.pt

backend/trained_models/zombie_detector_v2/*
!backend\trained_models\zombie_detector_v2\weights\best.pt

# YOLOv8のラベルファイル（train/val）を無視
backend/data/datasets/yolov8/labels/train/*.txt
backend/data/datasets/yolov8/labels/val/*.txt
