/* ベース設定のインポート */
@import './base/_variables.css';
@import './base/_reset.css';

/* コンポーネントのインポート */
@import './components/_assistant.css';
@import './components/_speech-bubble.css';
@import './components/_paw-button.css';
@import './components/_funya-bubble.css';

/* アニメーションのインポート */
@import './animations/_keyframes.css';

/* ホットリロードテスト：2025-04-06 */

/* 全体の背景をうっすら白く透過させる */
body,
html {
  background-color: rgba(255, 255, 255, 0.15) !important;
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-app-region: drag;
  /* ウィンドウ全体をドラッグ可能に */
}

#assistant-container {
  background-color: rgba(255, 255, 255, 0) !important;
  -webkit-app-region: drag;
  /* コンテナもドラッグ可能に */
}