/* 全体のリセットとベーススタイル */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Hiragino Kaku Gothic ProN', 'Meiryo', sans-serif;
  background-color: transparent !important;
  overflow: hidden;
}

body {
  position: relative;
  user-select: none;
  -webkit-user-select: none;
}

#app {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: transparent !important;
} 